body{
    /* background: linear-gradient(to right, rgb(255, 255, 255) 1%,rgb(216, 216, 216) 51%,rgb(174, 174, 174) 100%);
   */
    height: 100%;
    color: #fff;
}
#overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}
#overlaySecond {
    display: none;
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    overflow: scroll;
}
#wrapper{
    width: 100%;
    min-height: calc(100vh - 162px);
    position: relative;
    background: url(../img/footer_BG.jpg) no-repeat fixed center;
    background-size: cover;
}
.content {
    padding-bottom: 2.5rem;
    color: #fff;
}

.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    transition: all .4s ease-in-out;
}

.topLine{
    background: #201c1c;
    height: 30px;
    text-align: center;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}
.topLine p{
    margin: 0;
}

.logo{
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    /*margin-right: 10rem;*/
}
.logo img{
    width: 100%;
}
.navbar{
    padding: 0.5rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: #946363 !important;
}
.bg-orange {
    /*background-color: rgba(0,0,0,0.8);*/
    background: #fff;
}
.navbar-dark .navbar-toggler {
    border-color: #fff !important;
}
nav .navbar-nav{
    max-width: 500px;
}
/*nav .navbar-nav li:last-child{*/
/*    padding-left: 5rem;*/
/*}*/
/*padding-left: 5rem;*/
.navbar-toggler-icon{
    width: 1.1em;
    height: 1.1em;
}
.navbar-toggler{
    padding: 0.15rem 0.55rem;
    font-size: 1.2rem;
    background-color: #9b2;
}
.navbar .login{
    padding: 0;
    cursor: pointer;
}

.navbar .login>div>.fa{
    color: #946363;
}

header h1{
    text-align: center
}
/* -------------------------------------------------------------------------
    HEADER LOGIN
------------------------------------------------------------------------- */

.navbar-form .login_sign{
    display: flex;
    justify-content: space-around;
    width: 80px;
    align-items: center;
}

.nav .nav-item{
    color: black;
}

.navbar_form_sign_in,
.navbar_form_sign_up{
    display: none;
    width: 320px;
    position: absolute;
    left: 50%;
    margin-left: -160px;
    top: -2%;
    /*margin-top: -50px;*/
    z-index: 11;
    background: chocolate;
    padding: 1rem;
    text-align: center;
    border-radius: 2%;
}
.navbar_form .fas{
    color: #936262;
}

/*#formContent {*/
/*    -webkit-border-radius: 10px 10px 10px 10px;*/
/*    border-radius: 10px 10px 10px 10px;*/
/*    background: #fff;*/
/*    padding: 30px;*/
/*    width: 90%;*/
/*    max-width: 450px;*/
/*    position: relative;*/
/*    padding: 0px;*/
/*    -webkit-box-shadow: 1px 1px 31px 9px rgba(130,162,0,0.8);*/
/*    !*box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);*!*/
/*    box-shadow: 1px 1px 31px 9px rgba(130,162,0,0.8);*/
/*    text-align: center;*/
/*}*/

/*#formFooter {*/
/*    background-color: #f6f6f6;*/
/*    border-top: 1px solid #dce8f1;*/
/*    padding: 25px;*/
/*    text-align: center;*/
/*    -webkit-border-radius: 0 0 10px 10px;*/
/*    border-radius: 0 0 10px 10px;*/
/*}*/


/* TABS */

h2.inactive {
    color: #cccccc;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

/* input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
   font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
   -webkit-border-radius: 5px 5px 5px 5px;
   border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
} */
/* 
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

input[type=text], input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 1px solid #ffc107;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    /*border-radius: 5px 5px 5px 5px;
}*/

.controls{
    margin: 1rem 0 0 0;
}

input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type=text]::placeholder {
    color: #cccccc;
}

/*pagination*/

.btn_inline {
    color: #F59A83 !important;
    font-size: 1rem !important;
    border: none !important;
    background-color: #F9F5F3;
    padding: .4rem 1rem;
    border-radius: 10rem;
    cursor: pointer;
    display: block;
    transition: all .2s;
    margin: .5rem auto;
}
    .btn_inline i {
      height: 1.5rem;
      width: 1.5rem;
      fill: currentColor;
      margin: 0 .2rem;
     }
     /* .btn_inline span {
      margin: 0 .4rem;
     }  */
    /* .btn_inline:hover {
      color: #F48982;
      background-color: #F2EFEE;
     } */
    .btn_inline:focus {
      outline: none; 
    } 
  .recipe_pagination{
      display: flex;
  }
  


/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
/*@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }*/
/*@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }*/
/*@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }*/

/*.fadeIn {*/
/*    opacity:0;*/
/*    -webkit-animation:fadeIn ease-in 1;*/
/*    -moz-animation:fadeIn ease-in 1;*/
/*    animation:fadeIn ease-in 1;*/

/*    -webkit-animation-fill-mode:forwards;*/
/*    -moz-animation-fill-mode:forwards;*/
/*    animation-fill-mode:forwards;*/

/*    -webkit-animation-duration:1s;*/
/*    -moz-animation-duration:1s;*/
/*    animation-duration:1s;*/
/*}*/

/*.fadeIn.first {*/
/*    -webkit-animation-delay: 0.4s;*/
/*    -moz-animation-delay: 0.4s;*/
/*    animation-delay: 0.4s;*/
/*}*/

/*.fadeIn.second {*/
/*    -webkit-animation-delay: 0.6s;*/
/*    -moz-animation-delay: 0.6s;*/
/*    animation-delay: 0.6s;*/
/*}*/

/*.fadeIn.third {*/
/*    -webkit-animation-delay: 0.8s;*/
/*    -moz-animation-delay: 0.8s;*/
/*    animation-delay: 0.8s;*/
/*}*/

/*.fadeIn.fourth {*/
/*    -webkit-animation-delay: 1s;*/
/*    -moz-animation-delay: 1s;*/
/*    animation-delay: 1s;*/
/*}*/

/*!* Simple CSS3 Fade-in Animation *!*/
/*.underlineHover:after {*/
/*    display: block;*/
/*    left: 0;*/
/*    bottom: -10px;*/
/*    width: 0;*/
/*    height: 2px;*/
/*    background-color: #56baed;*/
/*    content: "";*/
/*    transition: width 0.2s;*/
/*}*/

/*.underlineHover:hover {*/
/*    color: #0d0d0d;*/
/*}*/

/*.underlineHover:hover:after{*/
/*    width: 100%;*/
/*}*/
/*//////////////////////*/
.navbar-form{
    display: flex;
    position: absolute;
    right: 2rem;
}
.navbar-form .dropdown-menu{
    min-width: 3rem;
    position: absolute;
}

/*.languageSwitch{*/
/*    !*right: 90px;*!*/
/*    !*position: absolute;*!*/
/*    !*top: 10px;*!*/
/*}*/
/*.languageSwitch ul{*/
/*    padding: 0px;*/
/*    margin: 0px;*/
/*}*/
/*.languageSwitch li{*/
/*    list-style: none;*/
/*}*/
/*.languageSwitch a{*/
/*    color: rgb(148 99 99);*/
/*}*/

/*.languageSwitch .dropdown-menu{*/
/*    min-width: 1rem;*/
/*}*/
#about{
    position: relative;
    height: auto;
    margin-top: 95px;
    padding: 3rem 2rem;
    display: flex;
    align-items: center;
    background: #f8f8fa;
    /*background-image: url(../img/pageBG.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*color: #333333;*/
    background-color: rgba(0,0,0,0.5);
}
#about h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 72px;
rgba(384, 108, 12, 1);
    font-weight: 700;
}
#about h1 .colored {
    color: #9b2;
}
#about .about{
    /*line-height: 36px;*/
    /*font-size: 1.5em;*/
    padding: 1em;
}
@media (max-width: 770px){
    .topLine{
        height: 25px;
    }
    .topLine p{
        font-size: small;
    }
    .logo {
        width: 150px;
        height: 50px;
    }

    .navbar-form{
        position: relative;
        left: -.6rem;
    }
    #about .about {
        padding: .8em;
        line-height: 20px;
        font-size: 0.8em;
    }
    #about h1 {
        font-size: 40px;
        line-height: 50px;
    }
}
/*#about:before{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 0;*/
/*    content: '';*/
/*    border-top: 2em solid rgba(189, 228, 12, 0.8);*/
/*    border-right: 4em solid transparent;*/
/*    border-left: 4em solid transparent;*/
/*    opacity: .7;*/
/*    !*background: linear-gradient(to right,rgba(228,108,2,0.7) 0,rgba(228,108,2,0) 100%);*!*/
/*}*/
/*#about:after{*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 0;*/
/*    content: '';*/
/*    border-bottom: 2em solid rgba(189, 228, 12, 0.8);*/
/*    border-right: 4em solid transparent;*/
/*    border-left: 4em solid transparent;*/
/*    opacity: .7;*/
/*}*/

#tips{
    position: relative;
    min-height: 40vh;
    padding: 1rem;
    background: #f6f6f6;
    display: flex;
    align-items: center;
}

#tips .tips{
    display: flex;
    align-items: center;
    justify-content: center;
}

#tips .tips img{
    max-width: 10%;
}

.ribbon{
    font-size:20px;
    /*text-transform: uppercase;*/
    position:relative;
    margin:1em 0;
    text-align:center;
}
.text{
    display:inline-block;
    /*font-size: 30px;*/
    /*padding:0.5em 1em;*/
    min-width:15em;
    line-height:1.2em;
    /*background: #d8c97c;*/
    /*color: #7e8b9d;*/
    position:relative;
    border: 1px solid #8a1;
    font: normal 25px/40px 'Rye';
    text-align: center;
    color: #451;
    background: #9b2;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0,0,0,.15) inset, 0 6px 10px rgba(0,0,0,.15);
}

.text:before,.text:after,
.bold:before{
    content:'';
    position:absolute;
    border-style:solid;
}
/*.ribbon:before{*/
/*    top:0.3em; left:0.2em;*/
/*    width:100%; height:100%;*/
/*    border:none;*/
/*    background:#EBECED;*/
/*    z-index:-2;*/
/*}*/
.text:before{
    bottom:100%;
    left:0;
    border-width: .5em .7em 0 0;
    border-color: transparent #9b2 transparent transparent;
}
.text:after{
    top:100%;
    right:0;
    border-width: .5em 2em 0 0;
    border-color: #9b2 transparent transparent transparent;
}

.tip-box {
    display: block;
    max-width: 100%;
    border-radius: 10px;

    margin-bottom: 24px;
    padding: 36px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.1);
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 4px 30px 0 #b5e6f5;
}
.tip-box img{
    max-width: 7%;
    float: none;
}
.quote-text {
    margin-bottom: 0;
    border-style: none;
    border-color: #104488;
    border-left-width: 2px;
    font-family: Avenirltstd, sans-serif;
    color: #6d7785;
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
    text-align: center
}

#tip_text{
    font-style: italic;
}

#search{
    position: relative;
    height: 40vh;
    background: #fff;
    display: flex;
    align-items: center;
}
#recipe{
    margin: 0;
    border: none;

}
#search .input-group{
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.3);
}

/*#search_overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 11111;
}*/

/*.loader {*/
/*    border: 16px solid #f3f3f3;*/
/*    border-radius: 50%;*/
/*    border-top: 16px solid #d89371;*/
/*    border-bottom: 16px solid #d89371;*/
/*    width: 120px;*/
/*    height: 120px;*/

/*    animation: spin 4s linear infinite;*/
/*    margin: 200px auto;*/
/*}*/

@keyframes spin {
    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}

/*@keyframes spin {*/
/*    0% { width: 0;*/
/*        height: 0;*/
/*        border-left: 60px solid transparent;*/
/*        border-right: 60px solid transparent;*/

/*        border-top: 60px solid #fff;*/
/*    }*/
/*    15% { width: 0;*/
/*        height: 0;*/
/*        border-left: 60px solid transparent;*/
/*        border-right: 60px solid transparent;*/

/*        border-top: 60px solid #fff;*/
/*    }*/

/*    30% {*/
/*        width: 0;*/
/*        height: 0;*/
/*        border-top: 60px solid transparent;*/
/*        border-bottom: 60px solid transparent;*/

/*        border-right:60px solid #fff;*/
/*    }*/
/*    45% {*/
/*        width: 0;*/
/*        height: 0;*/
/*        border-top: 60px solid transparent;*/
/*        border-bottom: 60px solid transparent;*/

/*        border-right:60px solid #fff;*/
/*    }*/
/*    55% {*/
/*        width: 0;*/
/*        height: 0;*/
/*        border-left: 60px solid transparent;*/
/*        border-right: 60px solid transparent;*/

/*        border-bottom: 60px solid #fff;*/
/*    }*/
/*    70% {*/
/*        width: 0;*/
/*        height: 0;*/
/*        border-left: 60px solid transparent;*/
/*        border-right: 60px solid transparent;*/

/*        border-bottom: 60px solid #fff;*/
/*    }*/
/*    85% {width: 0;*/
/*        height: 0;*/
/*        border-top: 60px solid transparent;*/
/*        border-bottom: 60px solid transparent;*/

/*        border-left: 60px solid #fff;*/
/*    }*/
/*    100% { width: 0;*/
/*        height: 0;*/
/*        border-top: 60px solid transparent;*/
/*        border-bottom: 60px solid transparent;*/

/*        border-left: 60px solid #fff;*/
/* }*/
/*}*/


.recipeName,
#recipeList{
    position: relative;
    box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 2em;
    border-radius: 1em;
    background: linear-gradient(37deg,#fbb640,#b36ea4);
    background: -webkit-linear-gradient(53deg,#fbb640,#b36ea4);
    /*background: linear-gradient(to right, rgb(255, 255, 255) 1%,rgb(216, 216, 216) 51%,rgb(174, 174, 174) 100%);*/
    /*color: #fd7e14;*/

}

#btn3{
    padding: 0.375rem 2.75rem;
    box-shadow: inset 0px 0px 15px 0 rgba(0, 0, 0, 0.3);
}

#ingList{
    padding-left: 1rem !important;
}

#ingList .ingName{
    width: 76%;
    border: none;
    border-radius: 0.15rem;
}
.input_name{
    width: 76%;
    margin-bottom: .3em;
    border: none;
    border-radius: 0.15rem;
}
#ingList .ingItem{
    margin-bottom: .3em;

}
.ingredients{
    border-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.item{
    position: relative;
    border-bottom: 1px solid #e7e7e7;
    margin: 1em 0 0;
    padding: 1.5em 1.5em 0em;
    text-align: left;
}
.item:first-child {
    border-top: 1px solid #e7e7e7;
}
/*.item:nth-child(even) {*/
/*    background-color: #f7f7f7;*/
/*}*/
.today{
    font-size: small;
}

.item .recipe_value{
    text-align: center;
}
.btn_control{
    display: flex;
    justify-content: center;
}
.item .btn{
    margin: 0 .1em;
}
.item .today{
    text-align: right;
    font-size: small;
    margin: 1rem 0 0;
}

/*.item .recipe_method:hover .btn{*/
/*    display: block;*/

/*    background: #fff;*/
/*}*/

.item_edit_form{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    margin-top: -50px;
    z-index: 9;
    width: 90%;
    max-width: 500px;
    background: linear-gradient(37deg,#fbb640,#b36ea4);
    background: -webkit-linear-gradient(53deg,#fbb640,#b36ea4);
    border: none !important;
    border-radius: 3px;
    padding-bottom: 5px;
}

.item_edit_form .ingName {
    width: 76%;
}

#btn2{
    line-height: 1.7em;
    color: #f8f9fa;
    cursor: pointer;
    margin-right: .3em;
}
.badge{
    margin-bottom: 2em;
    margin-top: -1em;
    color: #946363;
    background-color: #fff;

}
i.trash{
    cursor: pointer;
    padding-left: .3em;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    /*height: 3rem;*/
    line-height: 3rem;
    background-color: rgba(0,0,0,0.5);
}
footer .social{
    display: flex;
    align-items: center;
    height: 3rem;
}
footer .social ul{
    margin: 0;
}
footer p{
    margin: 0;
}
footer .powered{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:450px){
    .logo{
        margin-right: 0;
    }
    .text{
        font: normal 20px/40px 'Rye';
    }

    footer{
        line-height: 1rem;
    }
    footer p{
        font-size: 12px;
    }
    footer ul li{
        font-size: small;
    }
}
@media(max-width:400px){
    .navbar .login {
        padding: 0;
    }

}
footer ul li{
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 .3rem;
}
